
/* font-family: "Poppins", sans-serif; */
/* font-family: "Inter", sans-serif; */
/* font-family: "Roboto", sans-serif; */

/* Shared Styles */

*{
    margin: 0;
    padding:0;
}

.body-container{
    width: 70%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.btn-primary{
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #E02C6D;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
}

section{
    margin: 100px 0;
}


/* Nav Related Styles Start */
header{
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

nav h1{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}

nav ul{
    display: flex;
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
}

/* nav related styles end */

/* banner related styles start */

.banner{
    display: flex;
    align-items: center;
    padding: 20px 0;
    
}

.banner-content{
    width: 50%;
}

.banner-content h1{
    font-size: 52px;
    font-weight: bold;
    width: 90%;
}

.banner-content p{
    font-size: 16px;
    font-weight: 600;
    width: 70%;
    margin: 15px 0;
}

.banner-img{
    width: 50%;
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}
/* banner related styles end */

/* Sponsor Section related styles */

.sponsor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
}
/* Sponsor Section related styles end */

/* Products Card Section related styles start */

.products > h1{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 50px 0;
}
.product-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.product-card{
    padding: 15px;
    box-shadow: 0px 0px 5px 0px lightgray;
    border-radius: 10px;
    width: fit-content;
}

.card-img{
    margin-bottom: 10px;
}

.product-name{
    font-size: 28px;
    font-weight: 500;
}

.product-price{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}

.rating i{
    color: #FB8200;
    font-size: 10px;
}

.rating span{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    color: rgb(124, 124, 124);
}

.product-text{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #787885;
    margin : 5px 0;
}

.see-more{
    color: #E02C6D;
    text-align: right;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.see-more i{
    margin-left: 10px;
    color: #E02C6D;
}